body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.product {
    background-color: #D9D9D9;
    color: black;
    /* border: 1px solid #555; */
    margin: 20px;
    overflow: hidden;
    display: flex;
}

.product img {
    margin-top: 45px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 20%;
    height: 30%;
    /* object-fit: cover; */
}

.product-content {
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
    margin-left: 30px;
}

.product h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    color: black;
}

.add-to-cart {
    display: block;
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 8px;
    width: 120px; 
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #45a049;
}