body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #dc3545; 
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    margin: 0;
  }

  header .buttons {
    display: flex;
  }

  header .buttons button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
  }

  header .buttons .list-button {
    margin-left: 50px; /* Khoảng cách giữa các nút */
  }