.header1 {
  background-color: #E31837;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.header1 div {
  display: flex;
  align-items: center;
}

.header1 {
  width: 90%;
  background-color: #E31837;
  margin: 0 auto;
}

.d-flex {
  border-radius: 5px;
}

.header1 h1,
.header1 h2 {
  margin: 0;
  padding-right: 5px;
  /* Giảm khoảng cách giữa "Order" và "Iterm" */
  width: 80%;
  height: 20%;
}

.header1 button {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;

}

.product-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
  padding-left: 40px;
}

.quantity {
  padding-left: 50%;
}

.Iterm {
  padding-right: 30%;
}

.quantitys {
  padding-left: 30%;
}
