.header1 {
    background-color: #E31837;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header1 div {
    display: flex;
    align-items: center;
  }

  .header1 h1,
  .header1 h2 {
    margin: 0;
    padding-right: 5px; /* Giảm khoảng cách giữa "Order" và "Iterm" */
  }

  .header1 button {
    background: none;
    border: none;
    color: white;
    font-size: 25px; /* Kích thước font lớn hơn */
    cursor: pointer;
    /* margin-left: 5px; Khoảng cách sang bên trái */
  }

  .product-img {
    width: 200px; /* Đặt kích thước của ảnh */
    height: 200px;
    border-radius: 50%; /* Tạo border hình tròn */
    margin-top: 20px;
  }

  .product-info {
    display: flex;
    flex-direction: column; /* Đặt hướng linh hoạt là cột */
    align-items: flex-start; /* Căn chỉnh nội dung về bên trái */
    margin-top: 80px; /* Khoảng cách từ trên xuống */
    padding-left: 40px; /* Khoảng cách từ bên trái */
  }
  .quantity{
    padding-left: 50%;
  }
  .Iterm{
    padding-right: 30%;
  }
  .quantitys{
    padding-left: 30%;
  }